<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Assignment solutions fragments</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div class="list-group" th:fragment="index">
    <th:block th:each="as : ${assignmentSolutions}">
        <div class="list-group">
            <div class="list-group-item list-group-item-primary" th:utext="${as}"></div>
            <th:block th:each="sol : ${solutionsForAssignment.get(as)}">
                <div th:replace="solution_fragment :: div_view(solution=${sol}, user=${user})"></div>
            </th:block>
        </div>
    </th:block>
</div>

<div class="list-group" th:fragment="final_index">
    <th:block th:each="as : ${assignmentSolutions}">
        <div class="list-group"
            th:if="${!as.getSolutions().isEmpty()}">
            <div class="list-group-item list-group-item-primary"
                 th:utext="${as}"></div>
            <th:block th:each="sol : ${solutionsForAssignment.get(as)}">
                <div th:replace="solution_fragment :: div_view(solution=${sol}, user=${user})"></div>
            </th:block>
        </div>
    </th:block>
</div>
</body>
</html>