<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_user :: header(user=${user})"></div>
<h3>
    <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "assignments")}'></th:block>
</h3>
<a href="/Assignment/Create">
    <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "createNewAssignment")}'></th:block>
</a>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "id")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "title")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "content")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "teacher")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "course")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "details")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "edit")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "delete")}'></th:block>
        </th>
    </tr>
    </thead>
    <th:block th:each="assignment : ${assignments}">
        <tr>
            <td th:utext="${assignment.getId()}"></td>
            <td th:utext="${assignment.getTitle()}"></td>
            <td th:utext="${assignment.getContentMultiline()}"></td>
            <td th:utext="${assignment.getTeacher()}"></td>
            <td th:utext="${assignment.getCourse()}"></td>
            <td>
                <a th:href="@{/Assignment/Details(id=${assignment.getId()})}"/>
                <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "details")}'></th:block>
            </td>
            <td>
                <a th:href="@{/Assignment/Edit(id=${assignment.getId()})}"/>
                <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "edit")}'></th:block>
            </td>
            <td>
                <a th:href="@{/Assignment/Delete(id=${assignment.getId()})}"/>
                <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "delete")}'></th:block>
            </td>
        </tr>
    </th:block>
</table>
<div>
    <p class="h3">
        <th:block th:text='${T(com.smanager.Bundles).getMessage("assignment", "uploadedFiles")}'></th:block>:
    </p>
    <ul class="list-group">
        <th:block th:each="file : ${files}">
            <li class="list-group-item">
                <a th:href="${file}" th:text="${file}" />
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>