<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Assignments</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_user :: header(user=${user})"></div>
<a href="/Assignment/Create">Create new assignment</a>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
        <th>Teacher</th>
        <th>Course</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <th:block th:each="assignment : ${assignments}">
        <tr>
            <td th:utext="${assignment.getId()}"></td>
            <td th:utext="${assignment.getTitle()}"></td>
            <td th:utext="${assignment.getContent()}"></td>
            <td th:utext="${assignment.getTeacher()}"></td>
            <td th:utext="${assignment.getCourse()}"></td>
            <td><a th:href="@{/Assignment/Edit(id=${assignment.getId()})}"/>Edit</td>
            <td><a th:href="@{/Assignment/Delete(id=${assignment.getId()})}"/>Delete</td>
        </tr>
    </th:block>
</table>
<div>
    <p class="h3">Uploaded files:</p>
    <ul class="list-group">
        <th:block th:each="file : ${files}">
            <li class="list-group-item">
                <a th:href="${file}" th:text="${file}" />
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>