<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Assignment Solution</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="header :: header"></div>
<a href="/AssignmentSolution/SolutionsToCheck">
    <button type="button" class="btn btn-primary btn-sm">Check solutions</button>
</a>
<div th:insert="assignmentSolution_fragments :: index"></div>
</body>
</html>