<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:fragment="div_view(comment)" class="list-group-item list-group-item-light">
    <div class="form-group row">
        <p th:if="${comment.getStudent() != null}" th:utext="${comment.getStudent()}" class="col-sm-10">
        </p>
        <p th:unless="${comment.getStudent() != null}" th:utext="${comment.getTeacher()}" class="col-sm-10">
        </p>
        <p th:utext="${comment.getFormattedDate()}" class="col-sm-2" style="text-align: right"></p>
    </div>
    <div class="form-group row">
        <p th:utext="${comment.getContent()}" class="col-sm-12"></p>
    </div>
</div>

<div th:fragment="index(solution)">
    <div th:if="${solution.getComments().isEmpty()}">
        <h2>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("comment", "noComments")}'></th:block>
        </h2>
    </div>
    <th:block th:each="comment : ${solution.getComments()}">
        <div th:insert="comment_fragment :: div_view(comment=${comment})"></div>
    </th:block>
</div>
</body>
</html>