<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="header :: header"></div>
<a href="/Course/Create">Create new course</a>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Ects</th>
    </tr>
    <th:block th:each="course : ${courses}">
        <tr>
            <td th:utext="${course.getId()}"></td>
            <td th:utext="${course.getTitle()}"></td>
            <td th:utext="${course.getEcts()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>