<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <div th:replace="head_fragment :: scripts"></div>
    <script>
        function show(name) {
            var elements = document.getElementsByName(name);
            for (var i = 0; i < elements.length; i++) {
                var currentStyle = elements[i].style.display;
                if (currentStyle == "") {
                    currentStyle = "none";
                } else {
                    currentStyle = "";
                }
                elements[i].style.display = currentStyle;
            }
        }
    </script>
</head>
<body>
<div th:insert="header_selector :: selector(user=${user})"></div>
<h3>
    <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "courses")}'></th:block>
</h3>
<div>
    <a href="/Course/Create" th:if="${user != null && !user.isStudent()}">
        <button type="button" class="btn btn-primary btn-sm">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "create")}'></th:block>
        </button>
    </a>
    <a href="/Course/Register" th:if="${user != null && user.isTeacher()}">
        <button type="button" class="btn btn-primary btn-sm">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "registerToCourse")}'></th:block>
        </button>
    </a>
    <a href="/Course/TeacherIndex" th:if="${user != null && user.isTeacher()}">
        <button type="button" class="btn btn-primary btn-sm">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "teacherCourses")}'></th:block>
        </button>
    </a>
    <a href="/Course/RegisterTeacher" th:if="${user != null && (user.isTeacher() || user.isAdmin())}">
        <button type="button" class="btn btn-primary btn-sm">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "registerTeacherToCourse")}'></th:block>
        </button>
    </a>
</div>
<div th:insert="search :: bar(url=${'/Course/Search'})"></div>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "id")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "title")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "ects")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "edit")}'></th:block>
        </th>
        <th th:if="${user != null && user.isAdmin()}">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "delete")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "registerToCourse")}'></th:block>
        </th>
        <th>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "registeredStudents")}'></th:block>
        </th>
    </tr>
    </thead>
    <th:block th:each="course : ${courses}">
        <tr>
            <td th:utext="${course.getId()}"></td>
            <td th:utext="${course.getTitle()}"></td>
            <td th:utext="${course.getEcts()}"></td>
            <td><a th:href="@{/Course/Edit(id=${course.getId()})}"/>
                <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "edit")}'></th:block>
            </td>
            <td th:if="${user != null && user.isAdmin()}"><a th:href="@{/Course/Delete(id=${course.getId()})}"/>
                <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "delete")}'></th:block>
            </td>
            <td><a th:href="@{/Course/RegisterNew(courseId=${course.getId()})}"/>
                <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "registerToCourse")}'></th:block>
            </td>
            <td>
                <button th:onclick="show([['course-' + ${course.getId()}]])" class="button btn-dark">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "displayStudents1")}'></th:block>
                    <th:block th:text="${course.getStudents().size()}"></th:block>
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "displayStudents2")}'></th:block>
                </button>
            </td>
        </tr>
        <th:block th:each="student : ${course.getStudents()}">
            <tr class="table-light" th:name="'course-'+${course.getId()}" style="display:none">
                <td th:utext="${student}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a th:href="@{/Course/RemoveFromCourse(
                    courseId=${course.getId()},
                    studentId=${student.getId()}
                    )}"/>
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "removeFromCourse")}'></th:block>
                </td>
            </tr>
        </th:block>
        <th:block th:each="teacher : ${course.getTeachers()}">
            <tr class="table-dark">
                <td th:utext="${teacher}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a th:href="@{/Course/RemoveTeacherFromCourse(
                    courseId=${course.getId()},
                    teacherId=${teacher.getId()}
                    )}"/>
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("course", "removeFromCourse")}'></th:block>
                </td>
                <td></td>
                <td th:if="${user != null && user.isAdmin()}"></td>
            </tr>
        </th:block>
    </th:block>
</table>
<div th:insert="pagination_fragments :: pagination(pages=${pages}, url='/Course/Index/')"></div>
</body>
</html>