<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body>
<form action="#" th:action="@{/Course/Create}" th:object="${course}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}" /></td>
        </tr>
        <tr>
            <td>ECTS:</td>
            <td><input type="number" th:field="*{ects}" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>