<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<tr th:fragment="row_view(fh = ${fh})">
    <td th:utext="${fh.getId()}"></td>
    <td th:utext="${fh.getFileName()}"></td>
    <td th:utext="${fh.getPath()}"></td>
    <td th:utext="${fh.getModificationDate()}"></td>
    <td th:utext="${fh.getFileType()}"></td>
    <td th:utext="${fh.getReferencedId()}"></td>
</tr>

</body>
</html>