<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_user :: header(user=${user})"></div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>File name</th>
            <th>Path</th>
            <th>Modification date</th>
            <th>File type</th>
            <th>Referenced id</th>
        </tr>
    </thead>
    <th:block th:each="fh : ${fileHistory}">
        <div th:insert="fileHistory_fragments :: row_view(fh)"></div>
    </th:block>
</table>
</body>
</html>