<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header(user)">
    <a class="navbar-brand" href="/">Smanager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "home")}'></th:block>
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a th:if="${user != null && user.getStudentUser() != null}" class="nav-link" href="/Work/Index">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "myWork")}'></th:block>
                </a>
                <a th:if="${user != null && user.getTeacherUser() != null}" class="nav-link" href="/Work/TeacherWork">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "myWork")}'></th:block>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Course/Index">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "course")}'></th:block>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Assignment/Index">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "assignment")}'></th:block>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Solution/Index">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "solution")}'></th:block>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "features")}'></th:block>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/AssignmentSolution/Index">
                        <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "assignmentSolution")}'></th:block>
                    </a>
                    <a class="dropdown-item" href="/Group/Index">
                        <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "group")}'></th:block>
                    </a>
                    <a class="dropdown-item" href="/Student/Index">
                        <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "student")}'></th:block>
                    </a>
                    <a class="dropdown-item" href="/Teacher/Index">
                        <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "teacher")}'></th:block>
                    </a>
                    <a class="dropdown-item" href="/FileHistory/Index">
                        <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "fileHistory")}'></th:block>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Authentication/Logout">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("menu", "signOut")}'></th:block>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>