<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <ul>
        <li><a href="/Assignment/Index">Assignment</a></li>
        <li><a href="/AssignmentSolution/Index">Assignment Solution</a></li>
        <li><a href="/Course/Index">Course</a></li>
        <li><a href="/Group/Index">Group</a></li>
        <li><a href="/Solution/Index">Solution</a></li>
        <li><a href="/Student/Index">Student</a></li>
        <li><a href="/Teacher/Index">Teacher</a></li>
        <li><a href="/">Upload file</a></li>
    </ul>
</body>
</html>