<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_selector :: selector(user=${user})"></div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h2></h2>
<form th:action="@{/login}" method="post" class="form-group">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("login", "username")}'></th:block>
        </label>
        <div class="col-sm-4">
            <input type="text" name="username" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("login", "password")}'></th:block>
        </label>
        <div class="col-sm-4">
            <input type="password" name="password" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" th:value='${T(com.smanager.Bundles).getMessage("login", "signIn")}' class="btn btn-primary"/>
    </div>
</form>
</body>
</html>