<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Side menu</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:fragment="menu(courses)">
    <ul class="side-menu-first">
        <th:block th:each="course, c_i : ${courses}">
            <li th:if="${course != null}">
                <button data-toggle="collapse" class="btn"
                    th:href="'#course-' + ${c_i.count}" role="button" aria-controls="'course-' + ${c_i.count}">
                    <i class="material-icons">double_arrow</i>
                </button>
                <a th:href="${url} + '?shouldUpdateCache=true&courseToDisplay=' + ${course.getId()}">
                    <th:block th:utext="${course.getTitle()}"></th:block>
                </a>
                <ul class="collapse side-menu-second" th:id="'course-' + ${c_i.count}">
                    <th:block th:each="assignment, a_i : ${course.getAssignments()}">
                        <li th:if="${assignment != null}">
                            <button data-toggle="collapse" class="btn"
                                th:href="'#course-' + ${c_i.count} + '-assignment-' + ${a_i.count}" role="button" aria-controls="'course-' + ${c_i.count} + '-assignment-' + ${a_i.count}">
                                <i class="material-icons">double_arrow</i>
                            </button>
                            <a th:href="${assignment.getDetailsUrl()}">
                                <th:block th:utext="${assignment.getTitle()}"></th:block>
                            </a>
                            <ul class="collapse side-menu-third" th:id="'course-' + ${c_i.count} + '-assignment-' + ${a_i.count}">
                                <th:block th:each="solution, s_i : ${assignment.getSolutions()}">
                                    <li th:if="${solution != null}">
                                        <a th:href="${solution.getDetailsUrl()}">
                                            <th:block th:utext="${solution.getContent()}"></th:block>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </li>
                    </th:block>
                </ul>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>