<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Solution</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_selector :: selector(user=${user})"></div>
<h2></h2>
<form action="#" th:action="${isCreate} ? @{/Solution/Create} : @{/Solution/Edit}" th:object="${solution}" enctype="multipart/form-data" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{creationDate}">
    <input th:if="${!isCreate}" type="hidden" th:field="*{assignment}">
    <input type="hidden" th:field="*{student}">
    <input th:if="${providedAssignmentId != null}" type="hidden" name="providedAssignmentId" th:value="${providedAssignmentId}">
    <h2 th:if="${providedAssignmentId != null}" th:text="${providedAssignment.getContent()}"></h2>
    <div class="form-group row">
        <label for="titleInput" class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "content")}'></th:block>:
        </label>
        <div class="col-sm-6">
            <input type="text" id="titleInput" th:field="*{content}" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="isFinished" class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "finished")}'></th:block>:
        </label>
        <div class="form-check">
            <input type="checkbox" id="isFinished" th:field="*{finished}" class="form-check-input"/>
        </div>
    </div>
    <div th:if="${!user.isStudent()}" class="form-group row">
        <label class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "grade")}'></th:block>:
        </label>
        <div class="col-sm-6">
            <select th:field="*{grade}" class="form-control">
                <option th:each="gr : ${grades}" th:value="${gr.getGrade()}"
                        th:text="${gr}"
                        th:selected="${grades.get(0)}">
                </option>
            </select>
        </div>
    </div>
    <div th:if="${user.isStudent()}">
        <input type="hidden" th:field="*{grade}">
    </div>
    <div th:if="${user.isAdmin()}" class="form-group row">
        <label class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "student")}'></th:block>:
        </label>
        <div class="col-sm-6">
            <select th:field="*{student}" class="form-control">
                <option th:each="st : ${students}" th:value="${st.getId()}"
                        th:text="${st}"
                        th:selected="${students.get(0)}">
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row" th:if="${isCreate && providedAssignmentId == null}">
        <label class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "assignment")}'></th:block>:
        </label>
        <div class="col-sm-6">
            <select th:field="*{assignment}" class="form-control">
                <option th:each="as : ${assignments}" th:value="${as.getId()}"
                        th:text="${as}"
                        th:selected="${assignments.get(0)}">
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "attachment")}'></th:block>:
        </label>
        <div class="col-sm-6">
            <input type="file" name="file" class="form-control-file"/>
        </div>
    </div>
    <div th:if="${uploadedFile != null}" class="form-group row">
        <label class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "attachment")}'></th:block>:
        </label>
        <div class="col-sm-6">
            <a th:href="${uploadedFile}"><th:block th:text="${solution.getPath()}"></th:block></a>
        </div>
    </div>
    <div th:if="${uploadedFile != null}" class="form-group row">
        <label class="col-sm-2 col-form-label">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "removeFile")}'></th:block>:
        </label>
        <div class="form-check">
            <input type="checkbox" name="removeFile" class="form-check-input">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">
                <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "submit")}'></th:block>
            </button>
        </div>
    </div>
</form>
</body>
</html>