<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="header :: header"></div>
<a href="/Solution/Create">Create new Solution</a>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Student</th>
        <th scope="col">Content</th>
        <th scope="col">Grade</th>
        <th scope="col">Assignment</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="solution : ${solutions}">
        <tr th:replace="solution_fragment :: row_view(solution=${solution})"></tr>
    </th:block>
    </tbody>
</table>
<div>
    <p class="h3">Uploaded files:</p>
<ul class="list-group">
<th:block th:each="file : ${files}">
    <li class="list-group-item">
        <a th:href="${file}" th:text="${file}" />
    </li>
</th:block>
</ul>
</div>
</body>
</html>