<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_selector :: selector(user=${user})"></div>
<h3>
    <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "solutions")}'></th:block>
</h3>
<a href="/Solution/Create">
    <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "create")}'></th:block>
</a>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "id")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "student")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "content")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "grade")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "assignment")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "finished")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "creationDate")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "attachment")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "edit")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "delete")}'></th:block>
        </th>
        <th scope="col">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "showComments")}'></th:block>
        </th>
    </tr>

    </thead>
    <tbody>
    <th:block th:each="solution : ${solutions}">
        <tr th:replace="solution_fragment :: row_view(solution=${solution})"></tr>
    </th:block>
    </tbody>
</table>
<div th:insert="pagination_fragments :: pagination(pages=${pages}, url='/Solution/Index/')">
</div>
</body>
</html>