<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Solution fragment</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<tr th:fragment="row_view(solution)">
    <td th:utext="${solution.getId()}"></td>
    <td th:utext="${solution.getStudent().toString()}"></td>
    <td th:utext="${solution.getContent()}"></td>
    <td th:utext="${solution.getGrade()}"></td>
    <td th:utext="${solution.getAssignment()}"></td>
    <td th:utext="${solution.isFinished()}"></td>
    <td th:utext="${solution.getCreationDate()}"></td>
    <td>
        <a th:href="@{/Solution/Edit(id=${solution.getId()})}"/>
        <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "edit")}'></th:block>
    </td>
    <td>
        <a th:href="@{/Solution/Delete(id=${solution.getId()})}"/>
        <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "delete")}'></th:block>
    </td>
    <td>
        <a th:href="@{/Comment/Index(solutionId=${solution.getId()})}">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "showComments")}'></th:block>
        </a>
        <a th:href="@{/Comment/Create(solutionId=${solution.getId()})}">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "addComment")}'></th:block>
        </a>
    </td>
</tr>

<div th:fragment="div_view(solution, user)" class="list-group-item list-group-item-light">
    <div class="form-group row">
        <p class="col-sm-2">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "id")}'></th:block>:
        </p>
        <p th:utext="${solution.getId()}" class="col-sm-6"></p>
    </div>
    <div class="form-group row">
        <p class="col-sm-2">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "student")}'></th:block>:
        </p>
        <p th:utext="${solution.getStudent().toString()}" class="col-sm-6"></p>
    </div>
    <div class="form-group row">
        <p class="col-sm-2">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "content")}'></th:block>:
        </p>
        <p th:utext="${solution.getContent()}" class="col-sm-6"></p>
    </div>
    <div class="form-group row">
        <p class="col-sm-2">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "grade")}'></th:block>:
        </p>
        <p th:utext="${solution.getGrade()}" class="col-sm-6"></p>
    </div>
    <div class="form-group row">
        <p class="col-sm-2">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "assignment")}'></th:block>:
        </p>
        <p th:utext="${solution.getAssignment()}" class="col-sm-6"></p>
    </div>
    <div class="form-group row">
        <p class="col-sm-2">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "finished")}'></th:block>:
        </p>
        <p th:utext="${solution.isFinished()}" class="col-sm-6"></p>
    </div>
    <div class="form-group row">
        <p class="col-sm-2">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "creationDate")}'></th:block>:
        </p>
        <p th:utext="${solution.getCreationDate()}" class="col-sm-6"></p>
    </div>
    <div class="form-group row">
        <p class="col-sm-2">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "file")}'></th:block>:
        </p>
        <p th:utext="${solution.getPath()}" class="col-sm-6"></p>
    </div>
    <a th:href="@{/Comment/Index(solutionId=${solution.getId()})}">
        <button class="btn btn-primary">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "showComments")}'></th:block>
        </button>
    </a>
    <a th:if="${!user.isStudent()}" th:href="@{/Solution/Edit(id=${solution.getId()})}">
        <button class="btn btn-primary">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "grade")}'></th:block>
        </button>
    </a>

</div>

</body>
</html>