<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Solution fragment</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<tr th:fragment="row_view(solution)">
    <td th:utext="${solution.getId()}"></td>
    <td th:utext="${solution.getStudent().toString()}"></td>
    <td th:utext="${solution.getContent()}"></td>
    <td th:utext="${solution.getGrade()}"></td>
    <td th:utext="${solution.getAssignment()}"></td>
    <td th:utext="${solution.isFinished()}"></td>
    <td th:utext="${solution.getFormattedDate()}"></td>
    <td class="center-aligned">
        <a th:href="${solution.getPath()}">
            <i class="material-icons link-icon">attachment</i>
        </a>
    </td>
    <td>
        <a th:href="@{/Solution/Edit(id=${solution.getId()})}"/>
        <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "edit")}'></th:block>
    </td>
    <td>
        <a th:href="@{/Solution/Delete(id=${solution.getId()})}"/>
        <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "delete")}'></th:block>
    </td>
    <td>
        <a th:href="@{/Comment/Index(solutionId=${solution.getId()})}">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "showComments")}'></th:block>
        </a>
        <a th:href="@{/Comment/Create(solutionId=${solution.getId()})}">
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "addComment")}'></th:block>
        </a>
    </td>
</tr>

<div th:fragment="div_view(solution, user)" class="list-group-item list-group-item-light">
    <div class="form-group row">
        <p class="col-sm-10" th:text="${solution.getStudent().getInfo()}"></p>
        <p class="col-sm-2 right-aligned" th:utext="${solution.getFormattedDate()}"></p>
    </div>
    <div class="form-group row">
        <p th:utext="${solution.getContent()}" class="col-sm-12 center-aligned"></p>
    </div>
    <div class="form-group row">
        <p class="col-sm-10">
            <a th:href="${solution.getPath(paths)}">
                <button class="btn btn-primary link-icon">
                    <i class="material-icons link-icon">attachment</i>
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "download")}'></th:block>
                </button>
            </a>
            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "attachment")}'></th:block>:
            <th:block th:text="${solution.getPath()}"></th:block>
        </p>
        <p th:utext="${solution.getGrade()}" class="col-sm-2 right-aligned"></p>
    </div>
</div>

</body>
</html>