<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_selector :: selector(user=${user})"></div>
<h3>
    <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "students")}'></th:block>
</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "id")}'></th:block>
                </th>
                <th scope="col">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "firstName")}'></th:block>
                </th>
                <th scope="col">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "lastName")}'></th:block>
                </th>
                <th scope="col">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "faculty")}'></th:block>
                </th>
                <th scope="col">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "year")}'></th:block>
                </th>
                <th scope="col">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "courses")}'></th:block>
                </th>
                <th scope="col">
                    <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "grades")}'></th:block>
                </th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="student : ${students}">
                <tr>
                    <td th:utext="${student.getId()}"></td>
                    <td th:utext="${student.getFirstName()}"></td>
                    <td th:utext="${student.getLastName()}"></td>
                    <td th:utext="${student.getFaculty()}"></td>
                    <td th:utext="${student.getCurrentYear()}"></td>
                    <td>
                        <a th:href="@{/Course/MyCourses(id=${student.getId()})}"/>
                        <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "courses")}'></th:block>
                    </td>
                    <td>
                        <a th:href="@{/Work/TeacherGradesReport(id=${student.getUser().getId()})}"/>
                        <th:block th:text='${T(com.smanager.Bundles).getMessage("student", "grades")}'></th:block>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>