<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_user :: header(user=${user})"></div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Faculty</th>
                <th scope="col">Year</th>
                <th scope="col">Courses</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="student : ${students}">
                <tr>
                    <td th:utext="${student.getId()}"></td>
                    <td th:utext="${student.getFirstName()}"></td>
                    <td th:utext="${student.getLastName()}"></td>
                    <td th:utext="${student.getFaculty()}"></td>
                    <td th:utext="${student.getCurrentYear()}"></td>
                    <td><a th:href="@{/Course/MyCourses(id=${student.getId()})}"/>Courses</td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>