<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_user :: header(user=${user})"></div>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="teacher : ${teachers}">
        <tr>
            <td th:utext="${teacher.getId()}"></td>
            <td th:utext="${teacher.getFirstName()}"></td>
            <td th:utext="${teacher.getLastName()}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>