<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My work</title>
    <div th:replace="head_fragment :: scripts"></div>
</head>
<body>
<div th:insert="header_selector :: selector(user=${user})"></div>
<div th:insert="report_menu :: menu"></div>
<div class="h3">
    <p th:utext="${student}"></p>
</div>
<div class="container-fluid">
    <div class="row">
        <div th:insert="side_menu :: menu(courses=${courses})" class="col-2"></div>
        <div class="list-group col-10">
            <th:block th:each="course : ${courses}">
                <div class="list-group-item list-group-item-primary">
                    <p th:utext="${course.getTitle()}"></p>
                </div>
                <div class="list-group">
                    <th:block th:each="assignment, i : ${courseAssignments.get(course)}">
                        <div th:if="${!assignmentsSolutions.get(assignment).isEmpty()}" class="list-group-item">
                            <p th:utext="${assignment.getTitle()}"></p>
                            <p th:utext="${assignment.getContent()}"></p>
                            <button class="btn btn-success" type="button" data-toggle="collapse" th:href="'#solutions-container-' + ${assignment.getId()} + '-' + ${i.count}"
                                    role="button" aria-controls="'solutions-container-' + ${assignment.getId()} + '-' + ${i.count}">
                                <th:block th:if="${!assignment.getSolutions().isEmpty()}"
                                        th:text='${T(com.smanager.Bundles).getMessage("work", "showSolutions")}'></th:block>
                            </button>
                            <div class="collapse" th:id="'solutions-container-' + ${assignment.getId()} + '-' + ${i.count}">
                                <th:block th:each="solution : ${assignmentsSolutions.get(assignment)}">
                                    <div class="list-group-item">
                                        <div th:insert="solution_fragment :: div_view(solution=${solution}, user=${user})"></div>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse" th:href="'#comments-' + ${solution.getId()}"
                                                role="button" aria-controls="'comments-' + ${solution.getId()}">
                                            <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "showComments")}'></th:block>
                                        </button>

                                        <a th:href="@{/Comment/Create(solutionId=${solution.getId()})}">
                                            <button class="btn btn-primary">
                                                <th:block th:text='${T(com.smanager.Bundles).getMessage("solution", "addComment")}'></th:block>
                                            </button>
                                        </a>

                                        <div class="collapse" th:id="'comments-' + ${solution.getId()}"
                                             th:insert="comment_fragment :: index(solution=${solution})">
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div th:if="${assignmentsSolutions.get(assignment).isEmpty()}" class="list-group-item">
                            <p th:utext="${assignment.getTitle()}"></p>
                            <p th:utext="${assignment.getContent()}"></p>
                            <h3 th:text='${T(com.smanager.Bundles).getMessage("work", "noResults")}'></h3>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>